@import '../../styles/initialTheme.scss';

@media screen and (min-width: 1216px) {
  .slideShowContainer {
    height: 890px;
  }
  .slideHeader {
    font-size: 1.2rem;
  }
  .slideImg {
    max-height: 600px;
    max-width: 1200px;
  }
  .slideDescription {
    max-width: 1000px;
  }
  .navigatorContainer {
    bottom: -4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1215px) {
  .slideShowContainer {
    height: 780px;
  }
  .slideHeader {
    font-size: 1.2rem;
  }
  .slideImg {
    max-height: 500px;
    max-width: 700px;
  }
  .slideDescription {
    max-width: 700px;
  }
  .navigatorContainer {
    bottom: -4rem;
  }
}

@media screen and (max-width: 768px) {
  .slideShowContainer {
    height: 510px;
  }
  .slideHeader {
    font-size: 1.2rem;
  }
  .slideImg {
    max-height: 350px;
    max-width: 350px;
  }
  .slideDescription {
    max-width: 350px;
    font-size: .75rem;
    font-weight: 600;
  }
}


.slideShowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideHeader {
  text-align: center;
  font-weight: bold;
  margin: 3rem 0;
}

.slideImg {
  border: 2px solid $primary-font;
}

.slideDescription {
  margin: 1rem 0;
  text-align: center;
}

.slideDescription a {
  text-decoration: none;
  color: $special-font;
}

.driveLink {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: $special-font;
}

.navigatorContainer {
  position: absolute;
  top: -1rem;
  display: flex;
}

.navigatorButton {
  cursor: pointer;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 .2rem;
  border: 1px solid $primary-font;
}

.selectedNavigatorButton {
  background-color: $primary-font;
}
