@import '../../styles/initialTheme.scss';

.gridContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.columns {
    display: flex;
    width: 100%;
    padding: 1vmin 0;
    background-color: $toolbar-background;
    color: $toolbar-font;
    margin: 1vmin 0;
    border-radius: 5px;
    text-align: center;
}

.columnHeader {
    text-transform: uppercase;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid $form-border;
    transition: all 0.3s ease-in-out 0s;
    padding: 1vmin 0;
}

.row:hover {
    background-color: $toolbar-hover;
    color: $toolbar-font;
    transition: all 0.3s ease-in-out 0s;
}

.cell {
    display: flex;
    justify-content: center;
}

.scaleImg {
    height: 5vmin;
    width: 5vmin;
}
