@import '../styles/initialTheme.scss';

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
	height: 100%;
}

.greetingsContainer {
	border: .6vh solid $content-background;
	font-size: 5vmin;
	font-weight: bold;
	width: 45vmin;
	height: 8vmin;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25vh;
}

.hello {
	color: $special-font;
}

.nameContainer {
	margin-top: 4vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vmin;
}

.nameList {
		padding-left: 0;
    list-style-type: none;
    column-count: 2;
		text-align: center;
}

.nameList li {
	margin-bottom: 3vmin;
}

.underline {
	text-decoration: underline;
}

.scrollDown {
	position: absolute;
  height: 7vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
	bottom: 1vh;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	.line {
		width: 1px;
		height: 100%;
		display: block;
		background: linear-gradient(to bottom, $background 50%, $primary-font 50%);
		background-position: 0 -7vh;
		background-size: 100% 200%;
		animation: scrollAnimation 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	}
}


@keyframes scrollAnimation {
	0%{
		background-position: 0 -7vh;
	}
	75% {
		background-position: 0 0;
	}
	100%{
		background-position: 0 7vh;
	}
}