@import '../styles/initialTheme.scss';

@media screen and (min-width: 1216px) {
	.greetingsContainer {
		font-size: 4rem;
	}
}

@media screen and (min-width: 769px) and (max-width: 1215px) {
	.greetingsContainer {
		font-size: 3rem;
	}
}

@media screen and (max-width: 768px) {
	.greetingsContainer {
		font-size: 2.2rem;
	}
}

.introContainer {
  display: flex;
  flex-direction: column;
  position: relative;
	height: 100%;
	margin-bottom: 15rem;
}

.greetingsContainer {
	border: 5px solid $content-background;
	padding: .5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hello {
	color: $special-font;
}

.nameContainer {
	margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
	text-align: center;
}

.nameList {
		padding-left: 0;
    list-style-type: none;
    column-count: 2;
		text-align: center;
}

.nameList li {
	margin-bottom: 1.5rem;
}

.underline {
	text-decoration: underline;
}

.scrollDown {
	position: absolute;
  height: 4rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	.line {
		width: 1px;
		height: 100%;
		display: block;
		background: linear-gradient(to bottom, $background 50%, $primary-font 50%);
		background-position: 0 -4rem;
		background-size: 100% 200%;
		animation: scrollAnimation 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	}
}


@keyframes scrollAnimation {
	0%{
		background-position: 0 -4rem;
	}
	75% {
		background-position: 0 0;
	}
	100%{
		background-position: 0 4rem;
	}
}