@import '../styles/initialTheme.scss';

@media screen and (min-width: 1216px) {
  .form {
    height: 30rem;
    width: 20rem;
    font-size: 1.25rem;
  }
  .fieldContainer {
    height: 6rem;
    margin: 1rem 0;
  }
  .fieldContainer input {
    padding-top: 1rem;
  }
  .fieldLabel {
    font-size: 1rem;
  }
  .messageContainer {
    height: 20rem;
    margin: 4rem 0;
  }
  .messageLabel {
    font-size: 1rem;
  }
  .button {
    width: 6rem;
    height: 2rem;
  }
  .footerContainer img {
    height: 2rem;
    width: 2rem;
    margin: 0 .5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1215px) {
  .form {
    height: 30rem;
    width: 20rem;
    font-size: 1.25rem;
  }
  .fieldContainer {
    height: 6rem;
    margin: 1rem 0;
  }
  .fieldContainer input {
    padding-top: 1rem;
  }
  .fieldLabel {
    font-size: 1rem;
  }
  .messageContainer {
    height: 20rem;
    margin: 4rem 0;
  }
  .messageLabel {
    font-size: 1rem;
  }
  .button {
    width: 6rem;
    height: 2rem;
  }
  .footerContainer img {
    height: 2rem;
    width: 2rem;
    margin: 0 .3rem;
  }
}

@media screen and (max-width: 768px) {
  .form {
    height: 20rem;
    width: 10rem;
    font-size: 1rem;
  }
  .fieldContainer {
    height: 4rem;
  }
  .fieldContainer input {
    padding-top: 1rem;
  }
  .fieldLabel {
    font-size: .75rem;
  }
  .messageContainer {
    height: 7rem;
    margin: 3rem 0;
  }
  .messageLabel {
    font-size: .75rem;
  }
  .button {
    width: 3.5rem;
    height: 1.5rem;
    font-size: .75rem;
  }
  .footerContainer img {
    height: 1.75rem;
    width: 1.75rem;
    margin: 0 .2rem;
  }
}

.connectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 }

.header {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
}

.form {
  background-color: $form-background;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border: 1px solid $form-border;
  display: flex;
  flex-direction: column;
}

.fieldContainer {
  position: relative;
  overflow: hidden;
}

.fieldContainer input {
  width: 100%;
  height: 100%;
  color: $form-input-text;
  border: none;
  outline: none;
  padding-left: 0;
}

.fieldLabel {
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid $form-text;
}

.fieldLabel::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid $danube;
  transform: translate(-100%);
  transition: transform 0.3s ease;
}

.fieldLabelText {
  position: absolute;
  bottom: .3rem;
  transition: all 0.3s ease;
  color: $form-text;
}

.fieldContainer input:focus + .fieldLabel .fieldLabelText,
.fieldContainer input:valid + .fieldLabel .fieldLabelText {
  transform: translateY(-150%);
  color: $danube;
}

.fieldContainer input:focus + .fieldLabel::after,
.fieldContainer input:valid + .fieldLabel::after {
  transform: translateX(0);
}


.messageContainer {
  position: relative;
}

.messageContainer textarea {
  position: absolute;
  padding: 0 0 .2rem .2rem;
  top: 0;
  left: 0;
  width: calc(100% - .2rem);
  height: calc(100% - .2rem);
  color: $form-input-text;
  border: none;
  outline: none;
  resize: none;
}

.messageLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 1px solid $form-text;
}

.messageLabel::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(-100%);
  transition: all 0.3s ease;
}

.messageLabelText {
  padding-left: .1rem;
  position: absolute;
  transition: all 0.3s ease;
  color: $form-text;
}

.messageContainer textarea:focus + .messageLabel .messageLabelText,
.messageContainer textarea:valid + .messageLabel .messageLabelText {
  padding: 0;
  transform: translateY(-150%);
  color: $danube;
  border-color: $danube;
}

.messageContainer textarea:focus + .messageLabel,
.messageContainer textarea:valid + .messageLabel {
  border: 2px solid $danube;
}

.formButtons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
}

.button {
  text-transform: uppercase;
  margin-left: .2rem;
  background-color: #4139b1;
  background-image: linear-gradient(122deg, rgb(128, 74, 216) 0%, rgb(98, 75, 217) 100%);
  background-image: -webkit-linear-gradient(122deg, rgb(128, 74, 216) 0%, rgb(98, 75, 217) 100%);
  color: rgb(255, 255, 255);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: all .3s ease-in-out;
}

.button:hover {
  box-shadow: 0 0 3px 1.5px  rgb(189, 158, 240);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: .75rem;
  font-weight: 600;
  width: 100%;
  padding-top: .5rem;
  background-color: $charade;
  color: $content-font;
}

.footerContainer p {
  margin: .3rem 0;
}

.footerContainer img:hover {
  cursor: pointer;
}
