$white: #ffffff;
$mercury: #E8E8E8;
$silver-chalice: #9E9E9E;
$regent-gray: #8A96A8;
$dove-gray: #707070;
$shuttle-gray: #595F6E;
$danube: #5fa8d3;
$dodger-blue: #3787FF;
$governor-bay: #4139b1;
$ebony-clay: #2E3541;
$mirage: #1A202C;

$raisin-black: #231b1bff;
$silver: #c6c5b9ff;
$dark-slate-gray: #475657ff;
$steel-teal: #62929eff;
$cadet: #4a6d7cff;
$gentle-blue: #4e718a;
$yale-blue: #295270;
$grade-blue: hsla(205, 46%, 30%, 1);

$ghost: #caccd6;
$slate-gray: #414655;
$charade: #292C35;
$shark: #1E2027;
