@import './colors.scss';

$background: $ghost;
$primary-font: $shark;
$special-font: $governor-bay;
$content-font: $white;
$content-background: $slate-gray;


$form-background: $white;
$form-border: $slate-gray;
$form-text: $silver-chalice;
$form-input-text: $shuttle-gray;
$form-focus-text: $danube;
$form-box-background: $mercury;

$toolbar-font: $white;
$toolbar-background: $shark;
$toolbar-hover: $charade;

$img-border: $ghost;
$circle: $slate-gray;
