@import '../styles/initialTheme.scss';

@media screen and (min-width: 1216px) {
}

@media screen and (min-width: 769px) and (max-width: 1215px) {
}

@media screen and (max-width: 768px) {
}

.funFactsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: unset;
}

.header {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 3rem;
  text-align: center;
}

.factsList {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.factsList li {
  margin: 3vh 0;
}
