@import '../styles/initialTheme.scss';

.contentBackground {
  position: absolute;
  background-color: $content-background;
  height: 35vmin;
  width: 100%;
}

.aboutContent {
  position: relative;
  color: $content-font;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15vmin;
  max-width: 100vmin;
}

.profileImg {
  border-radius: 50%;
  border: 2px solid $img-border;
  width: 30vmin;
  height: 30vmin;
}

.about {
  margin-left: 1vmin;
}
