@import '../styles/initialTheme.scss';

.testimonialsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  margin: 15vmin 0;
  font-size: 3vmin;
  width: 80%;
  text-align: center;
}

.testimonialContent {
  color: $content-font;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5vmin;
  max-width: 100vmin;
}

.contentBackground {
  position: absolute;
  background-color: $content-background;
  height: 45vmin;
  width: 100%;
  z-index: -1;
}

.colleagueContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profileImg {
  border-radius: 50%;
  border: 2px solid $img-border;
  width: 20vmin;
  height: 20vmin;
}

.quote {
  margin-left: 2vmin;
}
