@import '../styles/initialTheme.scss';

@media screen and (min-width: 1216px) {
  .profileImg {
    position: absolute;
    width: 14rem;
    height: 14rem;
    top: -7rem;
  }
  .quote {
    margin: 8rem 2rem 1rem 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1215px) {
  .profileImg {
    position: absolute;
    width: 12rem;
    height: 12rem;
    top: -6rem;
  }
  .quote {
    margin: 7rem 2rem 1rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .testimonialsContainer {
    flex-direction: column;
    font-size: 1rem;
  }
  .profileImg {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: -5rem;
  }
  .quote {
    margin: 6rem 2rem 1rem 2rem;
  }
}

.testimonialsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15rem;
}

.header {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 3rem;
  text-align: center;
}

.testimonialContent {
  color: $content-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $content-background;
  width: 100vw;
  margin-top: 5rem;
}

.profileImg {
  border-radius: 50%;
  border: 4px solid $img-border;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
}

.quote {
  max-width: 60rem;
  text-align: center;
}
